*{
    margin: 0;
    padding: 0;
}


.cabeçalho{
    background-color: pink;
    color: rgb(219, 48, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}


cabeçalho-imagem{
   width: 80%;

}

cabeçalho-lista-item{
    display: inline-block;
}

.escola-imagem{
    width: 20%;
    padding: 100px 0;

}


.escola{
    display: flex;
    background-image: linear-gradient( pink, rgb(219, 48, 91));
}

